DEBUG=false
NODE_ENV=development
TOKEN_SECRET=thisisatokensecret
HASH_SECRET=thisisanhashsecret
PORT=9998
# database related
DATABASE_URL=mongodb://localhost:27017/choose_life
DATABASE_TEST_URL=mongodb://localhost:27017/choose_life_test
# email related
SENDGRID_SECRET_KEY=XXX
SMTP_FROM_EMAIL=no-reply@chooselife-wellness.com
SMTP_FROM_NAME=CHOOSE LIFE/FITNESS FAIR
# google sign on
GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX
# app related
APP_NAME=CHOOSE_LIFE
FRONTEND_URL=https://chooselife-wellness.com
FRONTEND_URL2=https://chooselife-staging.netlify.app
# admin related
CHOOSELIFE_ADMIN_EMAIL=choose_life@mailinator.com
PHONE_ADMIN=+2348012345678
APOLLO_KEY=service:chooselife:GXnkdR9MmTuMomOxQ_7BAg
# GHM related
GHM_PRODUCTION=https://hra-api.ghmcorp.com/api/v2
GHM_TEST= https://hra-api-test.ghmcorp.com/api/v2
GHM_CLIENT=XXX
GHM_CLIENT=XXX
# contentful
CONTENTFUL_ACCESS_TOKEN=XXX
CONTENTFUL_SPACE_ID=XXX
