DEBUG=false
NODE_ENV=production
TOKEN_SECRET=somethingfromqwertyassecret
EXPIRES='10'
HASH_SECRET=thisisanhashsecret
PORT=9998
# database related
DATABASE_URL=mongodb://localhost:27017/choose_life_production
DATABASE_TEST_URL=mongodb://localhost:27017/choose_life_test
# email related
SENDGRID_SECRET_KEY=XXX
SMTP_FROM_EMAIL=no-reply@chooselife-wellness.com
SMTP_FROM_NAME=CHOOSE LIFE/FITNESS FAIR
# google sign on
GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX
# app related
APP_NAME=CHOOSE_LIFE
FRONTEND_URL=https://chooselife-wellness.com
FRONTEND_URL2=https://chooselifewellness.co
# admin related
CHOOSELIFE_ADMIN_EMAIL=chooselife@fitnessfairng.com
CHOOSELIFE_ADMIN_PHONE=+2348026484117
CHOOSELIFE_ADMIN_NAME=ChooseLife Admin
#apollo metrics and reporting
APOLLO_KEY=service:chooselife:GXnkdR9MmTuMomOxQ_7BAg
APOLLO_GRAPH_VARIANT=production
APOLLO_SCHEMA_REPORTING=true
# GHM related
GHM_PRODUCTION=https://hra-api.ghmcorp.com/api/v2
GHM_TEST= https://hra-api-test.ghmcorp.com/api/v2
GHM_CLIENT=XXX
GHM_CLIENT=XXX
# contentful
CONTENTFUL_ACCESS_TOKEN=XXX
CONTENTFUL_SPACE_ID=XXX
