DEBUG=false
NODE_ENV=development
TOKEN_SECRET=thisisatokensecret
HASH_SECRET=thisisanhashsecret
PORT=9998
# database related
DATABASE_URL=mongodb://localhost:27017/choose_life
DATABASE_TEST_URL=mongodb://localhost:27017/choose_life_test
# email related
MAILJET_API_KEY=XX
MAILJET_SECRET_KEY=XX
SMTP_FROM_EMAIL=reply@oluwasetemi.dev
SMTP_FROM_NAME=CHOOSE_LIFE
# google sign on
GOOGLE_CLIENT_ID=XX
GOOGLE_CLIENT_SECRET=XX
# app related
APP_NAME=CHOOSE_LIFE
FRONTEND_URL=https://chooselife-wellness.com
FRONTEND_URL2=https://chooselife-staging.netlify.app
# admin related
CHOOSELIFE_ADMIN_EMAIL=choose_life@mailinator.com
PHONE_ADMIN=+2348012345678
GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX
APOLLO_KEY=XXX
GHM_PRODUCTION=https://hra-api.ghmcorp.com/api/v2
GHM_TEST= https://hra-api-test.ghmcorp.com/api/v2
CONTENTFUL_ACCESS_TOKEN=XXX
CONTENTFUL_SPACE_ID=XXX
