extends email-layout

block content
    h2 Added to Choose Life as an Admin
    p Hello #{name.split(' ')[0]}!,

    br
    p You're welcome.

    p Please click the button or copy the link below to choose a new password. Please bare in mind that the new password option expires in 1 hr.

    +button(resetLink, 'Choose a new Password ->')

    p
      a(href=`${resetLink}`, target='_blank')= resetLink

    p Don't forget to store your password safely.

    br
    p If you didn't request this email, please ignore it.
    p Regards.
    p Choose Life Team.