extends email-layout

block content
    h2 Welcome to Choose Life
    p Hello #{name.split(' ')[0]}!,

    br
    p Welcome to the choose life as an #{type}.

    p
      strong ⚠️ Please wait for the Chooselife admin to activate your account.

    p Our team should reach out to you  for information.

    br
    p If you didn't request this email, please ignore it.
    p Regards.
    p Choose Life Team