extends email-layout

block content
    h2 You confirmed your ChooseLife Email Subscribers Addition
    p Hello!,

    br
    p You're welcome.

    p Your request has been confirmed. Expect our weekly emails.

    br
    p If you didn't request this email, please ignore it.
    p Regards.
    p Choose Life Team.