extends email-layout

block content
    h2 Welcome to Choose
    p Hello #{name.split(' ')[0]}!
    br
    p Welcome to the choose life as an #{type}

    br
    p If you didn't request this email, please ignore it.
    p Regards.
    p Choose Life Team