extends email-layout

block content
    h2 You have been removed from ChooseLife Email Subscribers List
    p Hello!,

    br
    p You're welcome.

    p Your request has been granted. You will not see the email newsletter any more.

    br
    p If you didn't request this email, please ignore it.
    p Regards.
    p Choose Life Team.